body{
    background-image: linear-gradient(45deg,rgb(126, 45, 14),rgba(86, 86, 204, 0.849));
    padding: 100px 0 0 500px;
}

.login-card{
    // margin:100px auto;
    width: 350px;
    height : 450px;
    background-image: linear-gradient(45deg,black,rgb(194, 59, 59));
    padding: 0;
}

.login-header{
    padding:0;
}

.login-title{
    text-align: center;
    margin: 30px 0px 0 0px;
    font-weight: 500;
    font-style: candara;
    font-family: sans-serif monospace;
    color:rgba(221, 137, 26, 0.884);
}

#soundzy{
    color:aqua;
    margin-bottom: 0px;

}

.login-form{
    margin: 0 0 0 20px;
    padding: 0 20px;
}

.username{
    margin-bottom:6px;
    width:250px;
}

.password{
    width:250px;
}

.login-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-container > * {
    width: 100%;
  }

  .login-actions{
    margin-left: 20px;
}
  .login-button{
      width: 100px;
      color: rgb(48, 184, 184);
      font-weight: 400;
      font-family: sans-serif garamond;
      line-height: 40px;
      margin-left:100px!important;    
  }