<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <mat-card class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="login-header-image"></div>
      <mat-card-title class="login-title">Login</mat-card-title>
    </mat-card-header>
    <img mat-card-image >
    <mat-card-content>
      <div class="login-container">
        <form class="login-form">
          <mat-form-field class="username">
            <input matInput placeholder="Username">
          </mat-form-field>
        
          <mat-form-field class="password">
            <input matInput placeholder="Password">
          </mat-form-field>
          
        </form>
        
      </div>
    </mat-card-content>
    <mat-card-actions class="login-actions">
      <button mat-button class="login-button">Login</button>
    </mat-card-actions>
  </mat-card>
 
</body>
</html>
